body {
    width: 300px;
    background-color: blueviolet;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

.invis {
    visibility: hidden;
}

.controls {
    display: grid;
    place-items: center;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.analyzebutton {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    color: black;
    border: 0px;
}

.errortext {
    display: grid;
    place-items: center;
    color: red;
}

.tablegeneric {
    width: 80%;
    border: 1px solid blueviolet;
    border-collapse: collapse;
}

.tablehead {
    font-weight: bold;
    text-align: center;
    width: 50%;
    border: 1px solid blueviolet;
}

.tabletail {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 50%;
    border: 1px solid blueviolet;
}

.statistics {
    display: grid;
    place-items: center;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.wordcounts {
    display: grid;
    place-items: center;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}